@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: hsl(185, 41%, 84%);
    --initial-text-color: hsl(186, 14%, 43%);
}

html {
    font-size: 24px;
}


body {
    background-color: var(--background-color);
    color: var(--initial-text-color);
    font-family: 'Space Mono';
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px) {
    body {
        margin: 0;
    }

    .app-container {
        height: initial;
    }
}